*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#46D2A8;
  
}

h1{
      font-family: 'Indie Flower', cursive;
      font-size:40px;
      text-align:center;
      padding:10px;
      text-decoration:underline;
      color:#333;
      margin:0 auto;
      margin-top:-65px;
      width:50%;
}

#logo{
    margin:10px 10px 10px 10px;

}
.contenedor{
    margin:20px auto;
    box-shadow:0px 0px 20px grey;
    height:600px;
    width:705px;
    background:#fff;
    
}

.contenedor:hover{
        box-shadow:0px 0px 30px grey;
}



.block{
  /*width:calc(30% + 23.5px);*/
  width:235px;
  background:#fff;
  float:left;
  text-align:center;
  height:200px;
  border:2px solid lightblue;
  /*padding:80px;*/
  
}

.block:hover{
  
     cursor:pointer;
     -moz-transform: scale(1.1);
     -webkit-transform: scale(1.1);
     transform: scale(1.1);
     box-shadow:0px 0px 28px grey;
     
}


.x-icon{
    
    margin-top:-5px;
}

.circle-icon{
     
    margin-top:20px;  
}


.conf{
    text-decoration:none;
    color:#333;
    font-size:40px;
    float:right;
    margin:-70px 30px 15px 15px;
    border-bottom:2px solid transparent;
    font-weight:bold;
  
}

.conf:hover{
    border-bottom:2px solid #333;
    transition: all 0.8s;
}


.btn-reset{

    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top:-80px;
    margin-left:130px;
    box-shadow:0px 0px 5px grey;
    background:lightblue;
    width:150px;
    text-align:center;
    font-size:15px;
}

.btn-reset:hover{
 
    cursor:pointer;
    box-shadow:0px 0px 16px grey;

}

.player1{
    float:left;
    font-family: 'Indie Flower', cursive;
    font-size:35px;
    margin:105px;
    border-bottom:2px solid #333;
    position:absolute;
    width:150px;
    text-align:center;
   
}

.player2{
   
    float:right;
    font-family: 'Indie Flower', cursive;
    font-size:35px;
    top:184px;
    right:105px;
    border-bottom:2px solid #333;
    width:150px;
    position:absolute;
    text-align:center;

}

/*.imgX{ 
    
   
     float:left;
     margin-top:200px;
     margin-left:-200px;
}

.imgO{ 

     float:right;
     margin-top:210px;
     margin-right:-100px;
  
}*/


@media screen and (max-width:1240px){

   .player1{

    
         left:-50px;
         font-size:15px;
         width:90px;

  }


  .player2{

         top:300px;  
         left:50px;
         font-size:15px;
         width:90px;

  }
    .contenedor{width:497px; height:491px;}
    .block{width:33.33%; height:90px; padding:80px;}
    
    .conf{
        font-size:25px;
    }

    .x-icon{
        
        margin-top:-100px;
        margin-left:-70px;
    
        }

     .circle-icon{
        
        margin-top:-75px;
        margin-left:-70px;
 
        }



}
 




/*@media screen and (max-width:940px){

   #logo{
       width:50px;
       height:50px;
   }

   h1{margin-top:-70px;}

}

@media screen and (max-width:790px){

    .contenedor{width:498px; height:491px;}
    .block{width:33.3%; height:90px;}
}/*

